@media only screen and (min-width: 641px) {
    body {
        height: 100vh!important;
    }
    .title {
        border-bottom: 1px solid #fee68d;
        margin-bottom: 0px;
        text-align: start;
    }
    .subtitle {
        padding: 3px;
        letter-spacing: 12px;
        text-align: end;
        font-weight: 100;
        font-size: 13px;
    }
    .trig {
        text-align: right!important;
    }
}