@media only screen and (max-width: 640px) {
    body {
        height: auto!important;
        overflow: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch!important;
    }
    .title {
        border-bottom: 1px solid #fee68d;
        margin-bottom: 0px;
        text-align: center;
    }
    .subtitle {
        padding: 3px;
        letter-spacing: 12px;
        text-align: center;
        font-weight: 100;
        font-size: 13px;
    }
    .trig {
        text-align: start!important;
    }
}